name: Build and Deploy DPM_SRM

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel twine


      - name: Build the wheel
        run: python -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: cp38-* cp39-* cp310-* cp311-* cp312-* cp313-* cp314-*
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CXXFLAGS: "-std=c++17"
        
          
      # - name: Upload wheels
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: dpm_srm-wheels-${{ matrix.os }}-${{ matrix.python-version }}
      #     path: dist/*.whl

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m twine check dist/*  # verify wheels
          twine upload dist/* --verbose
